body {
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
    color: #9ca3af;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

button {
    transition: 0.2s;
}